form{
    border: .5em solid black;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
}

h2{
text-align: center;
color: blue;
}

div{
    margin-bottom: 1em;
}

h3{
    color: red;
    text-align: center;
    text-decoration: underline;
    margin-bottom: auto;
}
li{
    text-align: center;
    color: red;
}

p{
    text-align: center;
}

label{
width: 40%;
display:inline-block;
text-align: right;
margin-top: 1em;
}

input[type=text]{
    padding: .4em;
    margin-top: 1em;
}

#button{
    margin-top: 1em;
    margin-left: 40%;
    margin-bottom: 1em;
}