h1{
    text-align: center;
}

p{
    text-align: center;
}

label{
width: 40%;
display:inline-block;
text-align: right;
margin-top: 1em;
}

input[type=text]{
    padding: .4em;
    margin-top: 1em;
}

button{
    display: block;
    margin: auto;
}
